{%if not post %}{% extends "default_layout.html" %}{% endif %}
{% block body %}

<ul class="nav nav-pills" id = "mainnav">
  <li role="presentation" class="active"><a href="{{url_for('main')}}">Album View</a></li>
  <li role="presentation"><a href="{{url_for('list')}}">List View</a></li>
  <li role="presentation"><a href="{{url_for('social')}}">Social Music</a></li>
</ul>


<div id="wrapper">
  {% for album in albumlist %}
  <div class="album" data-id='{{album.id}}'>
   
    <img class = "albumimg" src ="{{ url_for('static', filename='img/album/' + album.name +'.jpg') }}"/>
  <!--<a href = "#album{{album.id}}" data-toggle="modal"></a>-->
<p class = "albumtext">
  {{album.name}} <br>{{album.singer}}
</p>
</div>
{% endfor %}
<div class = "albummodal">
</div>
</div>



{% endblock %}