<!-- 소셜 화면 디자인-->
{%if not post %}{% extends "default_layout.html" %}{% endif %}
{% block body %}

<ul class="nav nav-pills" id = "mainnav">
  <li role="presentation"><a id ="menu"  href="{{url_for('main')}}">Album View</a></li>
  <li role="presentation"><a id ="menu"  href="{{url_for('list')}}">List View</a></li>
  <li role="presentation" class="active"><a id ="menu"  href="{{url_for('social')}}">Social Music</a></li>
</ul>

<br>

<div class ="container">
<div class="col-md-3"> 
  <div class = "container profile">
  <img src = "{{ user.profileurl}}">
  <h2>{{user.name}}</h2>
  </div>
  <div class = "container">
  <h3> 그룹 </h3>
    <ul>
    <li><a id ="menu"  href="{{url_for('groupepic')}}">에픽하이</a></li>
    <li><a id ="menu"  href="{{url_for('groupartist')}}">Artist</a></li>
    </ul>
  </div>
  
</div>


<div class="col-md-9">

{%for feed in feedlist%}
  <div class = "panel panel-default">
    <div class="panel-heading">
     {{feed.title}} 
    </div>
    <div class="panel-body">
    {{feed.text}} 
    </div>
  </div>
{% endfor %}


</div>
</div>

{% endblock %}