
body { padding-top: 70px; }


.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}

.navbar-cr
{
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    margin: auto;
  height:100%;
}


.pbar {
  margin-left: auto;
  margin-right: auto;
  vertical-align:bottom;
  height:30%;
  width : 300px;
  margin-top: 3px; 
  z-index: 2;

}

.glyphicon{
  z-index: 1;
}


.navbar-player {
  float: none;
  z-index: 1;
  padding-bottom: 0;
  }

@import "bootstrap";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/static/fonts/glyphicons-halflings-regular.eot");
  src: url("/static/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/static/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/static/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}




.album {
    display: inline-block;
    padding: 15px;
    padding-bottom: 5px;
    width : 230px;
    height: 250px;
    vertical-align: top;
}
.albuminfo{
  float: left; 
  width : 190px;
  height : 190px;
  margin-left: auto;
  margin-right: 30px;
  background-color: #00ff00;
}

.albumtext {
  text-align: center;


}

.albumimg {
	width : 190px;
	height : 190px;
  margin-left: auto;
  margin-right: auto;
	background-color: #00ff00;
}

#mainnav{
  margin-left: auto;
  margin-right: auto;
  width: 22em;
}


.profile img {
    padding: 15px;
    width : 230px;
    height: 250px;
}

#volume-slider .slider-selection {
  background: #BABABA;
}


.listname{
    text-align: center;

}